#welcome {
  height: 90vh;
  display: flex;
  align-items: center;
  align-items: center;
  color: white;
  background-image: url("https://wallpapercave.com/wp/wp2856135.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}
